target/
!.mvn/wrapper/maven-wrapper.jar
!target/classes

### Optionals ###
.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDE ###
.idea
*.iws
*.iml
*.ipr
.vscode/

### Temp / Logs ###
*.log
*.sys
demo/
